* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    background-color: #fbf6ee;
}

header {
    background-color: #ffb534;
    color: #ffffff;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 0.9rem;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    font-size: 1.1rem;
}

#product {
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#item-product {
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

article {
    border: 1px solid black;
    background-color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: #ffb534;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
}

button:hover {
    background-color: #ffb534;
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 3rem;
    }
    nav ul {
        gap: 2rem;
        font-size: 1rem;
    }
    #item-product {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    article {
        width: 250px;
    }
    
}